<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JikagakiDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JikagakiDesktop.Properties.Settings>
            <setting name="StartupHelpEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupHelp" serializeAs="String">
                <value>直書きデスクトップとは・・・
デスクトップ上にドラッグで線を直接書き込むことができるツールです。
起動時は黒色のペンを持っている状態です。
以下のキー操作が行えます。

P でドラッグで自由線を描くモードに切り替えます。
L でドラッグで直線を描くモードに切り替えます。
F でドラッグで四角を描くモードに切り替えます。
D でドラッグで楕円を描くモードに切り替えます。

B で黒色のペンに持ち替えます。
W で白色のペンに持ち替えます。
R で赤色のペンに持ち替えます。
Y で黄色のペンに持ち替えます。
C で水色のペンに持ち替えます。
G で緑色のペンに持ち替えます。
Space で消しゴムに持ち替えます。

1～9 でペンの太さを切り替えます。

Ctrl+Z で一つ前の状態に戻します。
Delete で書き込みを全て削除します。
Ctrl+S で書き込んだ内容を保存します。
Ctrl+O で保存した内容を復元します。
Esc で待機状態に（最小化）します。
F1 でこの説明を表示します。

Alt + F4 で終了します。</value>
            </setting>
            <setting name="Alpha" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StartupColor" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="StartupWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartupTool" serializeAs="String">
                <value>P</value>
            </setting>
        </JikagakiDesktop.Properties.Settings>
    </userSettings>
</configuration>